.in-widget-tag {
    .uk-label {
        font-size: 14px;
        background-color: #f5f7f9;
        border: 0;
        color: $base-font-color;
        margin: 3px;
        padding: 4px 13px;
        transition: all ease .5s;
    }
    a:hover .uk-label {
        transition: all ease .5s;
        background-color: lighten($base-primary-color, 29%);
    }
}
.in-widget-category li a,
.in-widget-latest li a {
    color: inherit;
}
.in-widget-category li a:hover,
.in-widget-latest li a:hover {
    color: $base-link-hover;
    text-decoration: none;
}