---
layout: single
title: Blog
---

<main>
    {{> post-title-gold-holds-near-2-12-month-high-on-prospects-of-fed }}
    {{#if setting.blog.disqussShortname}}
    {{> section-disqus }}
    {{/if}}
</main>