---
layout: single
title: Blog
---

<main>
    {{> post-title-india-is-better-equipped-to-deal-with-a-potential }}
    {{#if setting.blog.disqussShortname}}
    {{> section-disqus }}
    {{/if}}
</main>