---
layout: single
title: Blog
---

<main>
    {{> post-title-who-says-delta-remains-the-most-concerning-covid }}
    {{#if setting.blog.disqussShortname}}
    {{> section-disqus }}
    {{/if}}
</main>