---
layout: single
title: Blog
---

<main>
    {{> post-title-wind-turbine-giant-siemens-gamesa-claims-world-first }}
    {{#if setting.blog.disqussShortname}}
    {{> section-disqus }}
    {{/if}}
</main>