<!-- section content begin -->
<div class="uk-section in-offset-top-50">
    <div class="uk-container">
        <div class="uk-grid uk-flex uk-flex-center">
            <div class="uk-width-3-4@m">
                <div class="in-disqus-util">
                    <span class="hide-privacy-policy"></span>
                    <span class="hide-share-button"></span>
                </div>
                <div id="disqus_thread"></div>
                <script>
                    (function() { // DON'T EDIT BELOW THIS LINE
                        var d = document, s = d.createElement('script');
                        s.src = `https://{{setting.blog.disqussShortname}}.disqus.com/embed.js`;
                        s.setAttribute('data-timestamp', +new Date());
                        (d.head || d.body).appendChild(s);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->
