header {
    .uk-logo {
        margin-right: 55px;
    }
    .in-optional-nav {
        width: auto;
        .uk-button-text {
            color: $base-default-color;
            margin-right: 25px;
        }
    }
}